<% if @game_session.player_1.name == "the computer" && @game_session.player_2.name == "the computer" %>
  <h2>Come on, read the instructions!!!</h2>
<% elsif @game_session.player_2.name == "the computer" %>
<h2> <%= @game_session.player_1.name %> v/s <%= @game_session.player_2.name %>
<h4> <%= @game_session.player_1.name %>, choose one of the options bellow and click submit:</h4>
<form action="/winner" method="post">
  <label for="rock">Rock</label>
  <input type="radio" name="player_1_option" id=rock value="rock"><br>
  <label for="paper">Paper</label>
  <input type="radio" name="player_1_option" id=paper value="paper"><br>
  <label for="scissors">Scissors</label>
  <input type="radio" name="player_1_option" id=scissors value="scissors"><br>
  <label for="spock">Spock</label>
  <input type="radio" name="player_1_option" id=spock value="spock"><br>
  <label for="lizard">Lizard</label>
  <input type="radio" name="player_1_option" id=lizard value="lizard"><br>
  <input type="submit" value="Submit">
</form>
<% elsif @game_session.player_1.name == "the computer" %>
<h2> <%= @game_session.player_1.name %> v/s <%= @game_session.player_2.name %>
<h4> <%= @game_session.player_2.name %>, choose one of the options bellow and click submit:</h4>
<form action="/winner" method="post">
  <label for="rock">Rock</label>
  <input type="radio" name="player_2_option" id=rock value="rock"><br>
  <label for="paper">Paper</label>
  <input type="radio" name="player_2_option" id=paper value="paper"><br>
  <label for="scissors">Scissors</label>
  <input type="radio" name="player_2_option" id=scissors value="scissors"><br>
  <label for="spock">Spock</label>
  <input type="radio" name="player_2_option" id=spock value="spock"><br>
  <label for="lizard">Lizard</label>
  <input type="radio" name="player_2_option" id=lizard value="lizard"><br>
  <input type="submit" value="Submit">
</form>
<% else %>
<h2> <%= @game_session.player_1.name %> v/s <%= @game_session.player_2.name %>
<h4> <%= @game_session.player_2.name %>, please cover your eyes.</h4>
<h4> <%= @game_session.player_1.name %>, choose one of the options bellow and click submit:</h4>
<form action="/player_1_option" method="post">
  <label for="rock">Rock</label>
  <input type="radio" name="player_1_option" id=rock value="rock"><br>
  <label for="paper">Paper</label>
  <input type="radio" name="player_1_option" id=paper value="paper"><br>
  <label for="scissors">Scissors</label>
  <input type="radio" name="player_1_option" id=scissors value="scissors"><br>
  <label for="spock">Spock</label>
  <input type="radio" name="player_1_option" id=spock value="spock"><br>
  <label for="lizard">Lizard</label>
  <input type="radio" name="player_1_option" id=lizard value="lizard"><br>
  <input type="submit" value="Submit">
</form>
<% end %>
</h2>
