<h4><%= @game.get_players.player_1_name %> chose <%= @player_1_option %> and
<%= @game.get_players.player_2_name %> chose
<% if @player_2_option == nil %>
  <%= @computer_option %>
<% else %>
  <%= @player_2_option %>
<% end %>
</h4>
<h2><%= @the_winner %>!</h2>
